<!doctype html>
<html lang="en" ng-app="vacationExpensesApp">
<head>
	<meta charset="utf-8">
	<base href="/">
	<title>Vacation Expenses</title>
	<script src="lib/angular/angular.js"></script>
	<script src="client/billController.js"></script>
	<script src="client/finance.js"></script>
	<script src="client/dataStoreService.js"></script>
</head>
<body ng-controller="ExpensesCtrl">

<h1>Vacation Expenses</h1>
Find out who should pay what at the end of a common vacation.

<div ng-show="!billLoaded && !error">
Loading bill...
</div>
<div ng-show="billLoaded">
	<h2>Who paid what?</h2>
	<ul>
		<li ng-repeat="expense in bill.expenses">
			<div>
				<input type="text" ng-model="expense.name">
				<input type="text" ng-model="expense.amount">
				<input type="text" ng-model="expense.purpose">
				<input type="checkbox" ng-model="expense.sharingModel.equalShares">Equal shares</input>
				<a ng-click="deleteExpense($index)" href="#">Remove</a>
			</div>
			<div ng-show="!expense.sharingModel.equalShares">
				<ul>
					<li ng-repeat="(name, share) in expense.sharingModel.shares"><div>
						<span>{{name}}</span>
						<input type="text" ng-model="expense.sharingModel.shares[name]">
					</div>
				</ul>
			</div>
		</li>
		<li>
			<form ng-submit="addExpense()">
				<input type="text" ng-model="newExpense.name">
				<input type="text" ng-model="newExpense.amount">
				<input type="text" ng-model="newExpense.purpose">
				<input type="submit" value="Add">
			</form>
		</li>
	</ul>

	<h2>Totals</h2>
	<table>
		<tr><th>Person</th><th>Total paid</th><th>Total due</th><th>Balance</th></tr>
		<tr ng-repeat="person in result">
			<td><span>{{person.name}}</span></td>
			<td><span>{{person.totalPaid | currency}}</span></td>
			<td><span>{{person.totalDue | currency}}</span></td>
			<td><span>{{person.totalPaid - person.totalDue | currency}}</span></td>
		</tr>
	</table>
</div>
<div ng-show="error">
	<div ng-show="error.status == 404">
		<h1>Not found</h1>
	</div>
	<div ng-show="error.status != 404">
		<h1>Error {{error.status}}</h1>
	</div>
</div>
</body>
</html>