<!doctype html>
<html lang="en" ng-app="vacationExpenses.billApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<base href="/">

	<title>Vacation Expenses</title>

	<script src="lib/angular/angular.js"></script>
	<script src="client/billApp.js"></script>
	<script src="client/billService.js"></script>
	<script src="client/billController.js"></script>
	<script src="client/expenseController.js"></script>
	<script src="client/resultsController.js"></script>
	<script src="client/exchangeRatesController.js"></script>
	<script src="client/dataStoreService.js"></script>

	<link href="lib/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="client/bill.css" rel="stylesheet">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body ng-controller="billController" class="container">

<div class="alert alert-warning">
Help improve 'Vacation Expenses' - <a href="https://docs.google.com/forms/d/14KIkxUScW-SouBKK_yeP2Tt8h3N9wq9JGj7FTVdGDtQ/viewform?usp=send_form" target="_blank">Give me feedback by answering a few simple questions (Google Form)</a>'
</div>

<h1>Vacation Expenses</h1>
Find out who should pay what at the end of a common vacation.

<div ng-show="!billLoaded && !error">
Loading bill...
</div>
<div ng-show="billLoaded">
	<h2>Who paid what?</h2>

	<div>
		<div ng-repeat="expense in bill.expenses"
			 ng-controller="expenseController"
			 ng-init="expense = expense"
			 class="row">
			<div class="col-lg-12 expense">
				<div class="td-name">
					<input type="text" ng-model="expense.name" class="expense-name">
				</div>
				<div class="td-amount">
					<input type="text" ng-model="expense.amount" class="expense-amount">
					<select ng-options="code as code for (code, cur) in bill.currencies"
							ng-model="expense.currency"></select>
				</div>
				<div class="td-purpose">
					<input type="text" ng-model="expense.purpose" class="expense-purpose">
				</div>
				<div class="td-remove">
					<span class="expense-remove glyphicon glyphicon-trash" ng-click="deleteExpense($index)"></span>
				</div>
				<div class="td-equal-shares">
					<input type="checkbox" ng-model="expense.sharingModel.equalShares">
				</div>
				<div class="td-shares">
					<ul>
						<li ng-repeat="name in bill.names"
							class="participant"
							ng-class="createNgClassObject(name)"
							ng-click="toggleParticipantIfEqualShares(name)">
							<div class="participant-icon glyphicon glyphicon-user"
								 ng-show="participantStatus[name] != 'participant-number'"></div>
							<input type="text"
								   ng-model="expense.sharingModel.shares[name]"
								   ng-show="participantStatus[name] == 'participant-number'"
								   class="participant-share-input">
							<div class="participant-name-small">{{name}}</div>
						</li>
					</ul>
				</div>
			 </div>
		</div>
	</div>

	<div id="newExpense">
		<form ng-submit="addExpense()">
			<input type="text" ng-model="newExpense.name" placeholder="John">
			<input type="text" ng-model="newExpense.amount" placeholder="45.99">
			<select ng-options="code as code for (code, cur) in bill.currencies"
					ng-model="newExpense.currency"></select>
			<input type="text" ng-model="newExpense.purpose" placeholder="Drinks on Saturday">
			<input type="submit" value="Add" id="addExpenseBtn">
		</form>
	</div>

	<h2>Totals</h2>
	<div class="row" ng-controller="resultsController">
		<div class="col-md-8">
			<table class="table table-striped">
				<thead>
					<tr><th>Person</th>
						<th>Currency</th>
						<th>Total paid</th>
						<th>Total due</th>
						<th>Pays</th>
						<th>Receives</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="name in bill.names">
						<td><span>{{name}}</span></td>
						<td><select
							ng-options="code as code for (code, cur) in bill.currencies"
							ng-model="preferredCurrency[name]"></select></td>
						<td><span>{{results[name].totalPaid | ve_currency : preferredCurrency[name]}}</span></td>
						<td><span>{{results[name].totalDue  | ve_currency : preferredCurrency[name]}}</span></td>
						<td><span ng-if="results[name].balance <= 0">{{-results[name].balance   | ve_currency : preferredCurrency[name]}}</span></td>
						<td><span ng-if="results[name].balance > 0">{{results[name].balance   | ve_currency : preferredCurrency[name]}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h2>Exchange rates</h2>
	<div class="row" ng-controller="exchangeRatesController">
		<div class="col-md-6">
			<form ng-submit="addCurrency()">
				<table class="table table-striped exchange-rates">
					<thead>
						<tr>
							<th><label>Reference:</label></th>
							<th><select
								ng-options="code as code for (code, cur) in bill.currencies"
								ng-model="bill.referenceCurrency"></select>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(code, cur) in bill.currencies" ng-if="code != bill.referenceCurrency">
							<td>{{code}}</td>
							<td><input type="text" ng-model="displayedExchangeRates[code]"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="new-currency">
							<td><input
								type="text"
								ng-model="newCurrency"
								id="new-currency"
								ng-disabled="isFetchingExchangeRate"
								placeholder="USD"></td>
							<td><input
								type="submit"
								value="Add"
								id="add-currency"
								ng-disabled="isFetchingExchangeRate"></td>
						</tr>
					</tfoot>
				</table>
			</form>
		</div>
	</div>
</div>
<div ng-show="error">
	<div ng-show="error.status == 404">
		<h1>Not found</h1>
	</div>
	<div ng-show="error.status != 404">
		<h1>Error {{error.status}}</h1>
	</div>
</div>

<script src="lib/jquery-1.11.2.min.js"></script>
</body>
</html>