<!doctype html>
<html lang="en" ng-app="vacationExpensesApp">
<head>
	<meta charset="utf-8">
	<title>Vacation Expenses</title>
	<script src="lib/angular/angular.js"></script>
	<script src="js/expensesCtrl.js"></script>
	<script src="js/finance.js"></script>
</head>
<body ng-controller="ExpensesCtrl">

<h1>Vacation Expenses</h1>
Find out who should pay what at the end of a common vacation.

<h2>Who paid what?</h2>
<ul>
	<li ng-repeat="expense in expenses"><div>
		<input type="text" ng-model="expense.name">
		<input type="text" ng-model="expense.amount">
		<input type="text" ng-model="expense.purpose">
	</div>
	<div>
		<div><input type="checkbox" ng-model="expense.sharingModel.equalShares">Equal shares</input></div>
		<div>
			<ul>
				<li ng-repeat="(name, share) in expense.sharingModel.shares"><div>
					<span>{{name}}</span>
					<input type="text" ng-model="expense.sharingModel.shares[name]">
				</div>
			</ul>
		</div>
	</div>
</ul>

<h2>Totals</h2>
<table>
	<tr><th>Person</th><th>Total paid</th><th>Total due</th></tr>
	<tr ng-repeat="person in people">
		<td><span>{{person.name}}</span></td>
		<td><span>{{person.totalPaid}}</span></td>
		<td><span>{{person.totalDue}}</span></td>
	</tr>
</table>
</body>
</html>